click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.1
iniconfig==2.0.0
joblib==1.4.2
kiwisolver==1.4.5
matplotlib==3.9.2
nltk==3.9.1
numpy==2.1.0
packaging==24.1
pandas==2.2.2
pillow==10.4.0
pluggy==1.5.0
-e git+https://github.com/Smreeta1/PandaCSV-Merge.git@92decb9830fd60252ba45318190e26986a9f910a#egg=processing
pyparsing==3.1.2
pytest==8.3.2
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2024.7.24
scikit-learn==1.5.1
scipy==1.14.1
seaborn==0.13.2
six==1.16.0
threadpoolctl==3.5.0
tqdm==4.66.5
tzdata==2024.1
